body {
  font-family: Arial, sans-serif;
  background-color: #DDDDDD;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
h1 {
  color: #333;
}
button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #0056B3;
}
/*MIS CSS*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jokeList li{
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.225);
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  background-color: white;
  font-weight: bold;
}
.jokeList li button {
  background-color: red;
  width: 100px;
}